// familia tomando agua scss
section.first {
  background-image: url("images/banner-index1.jpg");
  background-size: cover;

  @media (min-width: 1079px) {  
    background-size: contain;
    background-repeat: no-repeat;
  }

  p {
    text-shadow: 0.4px 1px #f7f7f7;
  }

  .text-first {
    color: #2F2E2A;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 125px;
    margin-bottom: 0;

    @media (min-width: 383px) {
      font-size: 16px;
      padding-top: 132px;
    }

    @media (min-width: 413px) {
      font-size: 18px;
      padding-top: 142px;
    }

    @media (min-width: 427px) {
      font-size: 18px;
      padding-top: 148px;
    }

    @media (min-width: 959px) {
      font-weight: bold;
      font-size: 14px;
      padding-top: 114px;
    }

    @media (min-width: 1079px) {
      font-weight: bold;
      font-size: 14px;
      padding-top: 114px;
    }
  }
}

.css-typing-first p {
  white-space: nowrap;
  overflow: hidden;
}
.css-typing-first p:nth-child(1) {
  width: 22em;
  -webkit-animation: type .3s steps(40, end);
  animation: type .3s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  @media (min-width: 959px) {
    opacity: 0;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
  }
}

.css-typing-first p:nth-child(2) {
  width: 22em;
  opacity: 0;
  -webkit-animation: type2 .3s steps(40, end);
  animation: type2 .3s steps(40, end);
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  @media (min-width: 959px) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
}

.css-typing-first p:nth-child(3) {
  width: 22em;
  opacity: 0;
  -webkit-animation: type3 .3s steps(40, end), blink .5s step-end infinite alternate;
  animation: type3 .3s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  @media (min-width: 959px) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
